body{
    background-color: r
    color:
    font-family: "Bitcount Grid Double", system-ui;
header{
    font-size: 60px;
    border: solid 5px red;
}
h1{
    font-size: 40px;
}
p{
    font-size: 20px;
}